.main {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
.blur{
    position: absolute;
    width: 30rem;
    height: 15rem;
    /* height: 22rem; */
    border-radius:50%;
    background: #0087935f;
    filter: blur(72px);
  }
.Blur{
    position: absolute;
    width: 30rem;
    height: 16rem;
    /* height: 22rem; */
    border-radius:50%;
    background: #0087935d;
    filter: blur(72px);
  }