*{font-family: 'Montserrat', sans-serif !important;
  /* font-family: 'Noto Sans', sans-serif !important;
  font-family: 'Poppins', sans-serif !important; */
}
.app {
  margin: 20px;
  padding: 20px;
  justify-content: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0, 19);
}
.App{
  overflow: hidden;
  color:var(--black);
  background:hwb(0 77% 18% / 0.334);
  padding:0rem 1rem;

}
.icon{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text{
  color:#026560;
  font-weight: bold;
  font-size: 40px;
}

.icon-class>.MuiSvgIcon-root{
  color: #026560;
}

::-webkit-scrollbar{
  display: none;
}