.Main{
    position: relative;
    display: grid;
    grid-template-columns: 15rem auto 21rem;
    gap: 1rem;
}
.savedPosts{
    height: 100vh;
}
.leftSide{
    display: flex;
    justify-content: center;
}
