.Main {
  position: relative;
  display: grid;
  grid-template-columns: 15rem auto 21rem;
  gap: 1rem;
}
.savedPosts {
  height: 100vh;
}
@media (max-width: 1079px) {
  .Main {
    display: flex;
  }
  .savedPosts {
    width: 100%;
  }
}
.leftSide {
  display: flex;
  justify-content: center;
}
