.Notifications-Page {
  position: relative;
  display: grid;
  /* grid-template-columns: 19rem auto 20rem; */
  grid-template-columns: 15rem auto 21rem;
  gap: 1rem;
}
@media (max-width: 1079px) {
  .Notifications-Page {
    display: flex;
  }
  .Notifications {
    width: 100%;
  }
}
.LeftSide {
  height: 100vh;
}
.Notifications {
  margin-top: 20px;
}
